/* Below I took the Manrope font's URL and imported it so I can use it when I call the "var()" function and type "--font-family" since I set it so "--font-family: Manrope" that way I wouldn't need to type the whole font name everytime I use the font. */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
/* ":root {}" actually represents the html tag, and is identical to the selector html, except that its specificity is higher. */
:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}